{% extends 'navbar/dashboard-navbar.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading text-center">
      <h2 class="text-dark">Add Material</h2>
    </div>
    <div class="panel-body">
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li>{% if message.tags %} "{{ message.tags }}"{% endif %} {{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Add Material</button>
        <a class="btn btn-secondary" href="{% url 'fchub:materials' %}">Cancel</a>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
