# Ignore Python bytecode cache directories
__pycache/

# Ignore compiled Python files
*.pyc
*.pyo

# Ignore SQLite database files
*.sqlite3

# Ignore log files
*.log


# Ignore environment variable configuration files (e.g., .env files)
*.env

# Ignore Visual Studio Code workspace settings and configuration
.vscode/

# Ignore PyCharm or IntelliJ IDEA project settings
.idea/

# Ignore cache directories
.cache/

# Ignore MyPy cache directories if using type checking with MyPy
.mypy_cache/

# Ignore Node.js modules directory if using JavaScript or Node.js
node_modules/

# Ignore a local settings file that may contain sensitive information
local_settings.py

# Ignore PyCharm IDE settings (if you are using PyCharm)
.pycharm/

# Ignore macOS directory metadata files
.DS_Store

# Ignore coverage report files if using a code coverage tool
.coverage

# Ignore compiled Python files
*.py[cod]


