{% extends 'navbar/dashboard-navbar.html' %}

{% block content %}
<style>
    .change-status-container {
        background-color: #f5f5f5;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 60%;
        margin: 20px auto;
    }

    .change-status-container h1 {
        font-size: 28px;
        margin-bottom: 20px;
        color: #333;
        text-align: center;
    }

    .order-info {
        font-size: 16px;
        margin-bottom: 10px;
        color: #555;
    }

    .status-label {
        font-weight: bold;
        color: #212529;
    }

    .select-status {
        font-size: 16px;
        margin-bottom: 10px;
        color: #555;
    }

    .status-description {
        font-size: 16px;
        color: #333;
    }

    .submit-button {
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        text-decoration: none;
        display: inline-block;
        margin-top: 20px;
        cursor: pointer;
    }
</style>

<div class="change-status-container">
    <h1>Change Order Status</h1>
    <p class="order-info"><span class="status-label">Order ID:</span> {{ order.id }}</p>
    <p class="order-info"><span class="status-label">Current Status:</span> {{ order.get_status_display }}</p>

    <form method="post">
        {% csrf_token %}
        <label for="new_status" class="select-status">Select New Status:</label>
        <select name="new_status" id="new_status">
            {% for choice in order.STATUS_CHOICES %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Change Status" class="submit-button">
    </form>

    <p class="status-description">
        {% if order.status == 'Pending' %}
            This order is pending and waiting for processing.
        {% elif order.status == 'Order Confirmed' %}
            This order is confirmed and ready for processing.
        {% elif order.status == 'Out for Delivery' %}
            This order is out for delivery to the customer.
        {% elif order.status == 'Delivered' %}
            This order has been successfully delivered to the customer.
        {% else %}
            Unknown status.
        {% endif %}
    </p>
</div>
{% endblock %}
