{% extends 'navbar/dashboard-navbar.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading text-center">
      <h2 class="text-dark">Materials</h2>
    </div>
    <table class="table table-hover table-bordered" id="dev-table">
      <thead>
        <tr>
          <th>Material ID</th>
          <th>Name</th>
          <th>Unit</th>
          <th>Price</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      {% for material in materials %}
      <tr>
        <td>{{ material.custom_id }}</td>
        <td>{{ material.name }}</td>
        <td>{{ material.unit }}</td>
        <td>{{ material.price }}</td>
        <td>{{ material.description }}</td>
        <td>
          <div class="container" margin="40px">
            <a class="btn btn-primary rounded btn-xs" href="{% url 'fchub:edit-material' material.id %}">Edit</a>

            <a class="btn btn-danger rounded btn-xs" href="{% url 'fchub:delete-material' material.id %}">Delete</a>                     
          </div>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6" class="text-center">No Materials!</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
<!-- add materials floating button -->
<div class="float-button">
  <a href="{% url 'fchub:add-material' %}" class="btn btn-primary btn-float">
      <i class="fa-solid fa-plus"></i> 
  </a>
</div>

<style>
  .float-button {
      position: fixed;
      bottom: 20px;
      right: 20px;
  }

  .btn-float {
      border-radius: 50%;
      width: 60px;
      height: 60px;
      font-size: 24px;
      text-align: center;
      padding: 10px;
      background: #008000;
      color: #fff;
      text-decoration: none;
      display: inline-block;
  }
</style>

{% endblock content %}
